# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.husky
!.commitlintrc.json
!.versionrc.json

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

# Jekyll
_site/
.jekyll-cache/
.sass-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/bundle/

# Visual Studio
.vs/

# OS/editor junk
.DS_Store
Thumbs.db
